{% extends "base_registro.html" %}

{% block body %}

  <form class="form-signin" action="{% url 'registrar' %}" method="post">

        {% csrf_token %}


    <h2 class="form-signin-heading">Criar um sinal</h2>

    <input type="text" id="id_co" name="configuracao_da_mao" class="form-control" placeholder="Configuração de Mão" required autofocus>

    <input type="text" id="id_pa" name="ponto_de_articulacao" class="form-control" placeholder="Ponto de articulação" required >

    <input type="text" id="id_m" name="movimento" class="form-control" placeholder="Movimento" required>

    <hr />

    <input type="text" id="id_o" name="orientacao_das_maos" class="form-control" placeholder="Orientação das mãos" required>

    <input type="text" id="id_efc" name="expressao_facil_corporal" class="form-control" placeholder="Expressão facil/corporal" required>

    <hr />

          <input type="text" id="id_nome" name="nome" class="form-control" placeholder="Nome" required>
<hr />

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Registrar</button>

  <hr/>
       {% if form.errors %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{form.non_field_errors}}
      </div>
    {% endif %}

  </form>

{% endblock %}
